$primary: #001D40;
$secondary: #280D19;
$grey: #FCFCFC;
$green: #01252B;
$black: #0A0A0A;
$black-2: #161616;
$light-green: #EEFCFF;
$light-pink: #FCEFF5;
$grey-2: #F5FDFF;
$grey-3: #D4D4DA;
$grey-4: #4D5454;
$grey-5: #808484;
$grey-6: #333B3B;
$grey-7: #E5E7E7;