$primary: #525252;
$grey: #ECECEC;
$white: #FAFFFF;
$whiter: #FFFFFF;
$black: #0A0A0A;
$black-2: #161616;
$light-green: #CDEAEC;
$green: #EBEBEB;
$grey-2: #CCCECE;
$grey-3: #666C6C;
$grey-4: #4D5454;
$grey-5: #808484;
$grey-6: #333B3B;
$grey-7: #E5E7E7;