$primary: #280D19;
$secondary: #E15E99;
$grey: #FCFCFC;
$green: #01252B;
$black: #0A0A0A;
$black-2: #161616;
$light-green: #EEFCFF;
$light-pink: #FFF9FF;
$pink-2: #EDD4E9;
$pink-3: #E3A2BF;
$grey-2: #F5FDFF;
$grey-3: #D4D4DA;
$grey-4: #1C1A1B;
$grey-5: #474766;
$grey-6: #333B3B;
$grey-7: #E5E7E7;